@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

.grecaptcha-badge {
  visibility: hidden;
}

@keyframes peck {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(25deg);
  }
}

.animate-picorage {
  display: inline-block;
  transform-origin: bottom center;
  transition: transform 0.3s ease-out;
}

.group:hover .animate-picorage {
  animation: peck 0.5s infinite ease-in-out;
}

.grecaptcha-badge {
  visibility: hidden;
}
